[Desktop Entry]
Type=Application
Name=RaveOS Plasma First Login
Exec=/usr/lib/raveos-plasma-theme/first-login.sh
OnlyShowIn=KDE;
X-KDE-autostart-phase=2
NoDisplay=true
