[SddmGreeterTheme]
Name=sddm-rave-theme
Description=sddm-rave-theme
Author=gabeszm
Website=https://git.rp1.hu/gabeszm/sddm-rave-theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=0.3
ConfigFile=Themes/rave.conf
Screenshot=Previews/rave.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-rave-theme
Theme-API=2.0
QtVersion=6
